.center {
	text-align: center;
	}
	
p		{
	margin-left: 10px;
	}

h2 		{
	color:red ;
	}

h3 		{
	color:cyan ;
	}
	
.coment {
	border: 2px ;
	border-style: solid ;
	border-color: black ;
	border-width: 2px ;
	padding: 5px ;
	}