header {
	background-color: #36db89 ;
	font-size: 200% ;
	}
	
footer {
	background-color: darkgreen ;
	}
	
.header img {
  float: left;
  width: 80px;
  background: #555;
}

a	{
	font-weight: 700;
	}
	
a:link{
	color: red;
}

a:visited{
	color: purple;
}

a:hover{
	color: orange;
}

a:active {
	color: green
}