header {
	font-size: 200% ;
	padding-top: 0px ;
	padding-left: 0px ;
	padding-bottom: 3px ;
	margin-top: 0px ;
	margin-left: 0px ;
	border-bottom: 2px;
	border-bottom-color: black ;
	border-bottom-width: 2px ;
	border-bottom-style: solid ;
	background-color: lightgray ;
	}
	
	
footer {
	text-align: center;
	padding-top: 5px;
	border-top: 1px;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1px;
	background-color: lightgray ;
	font-size: 75% ;
	}

body {
	background-color: #D6DBDF;
}

img {
	width: 100%;
	height: auto;
}

.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	list-style-type: none;
	background-color: #bfc1c3;
	}

.bloco a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.bloco a:hover {
  background-color: darkgray;
}

@media all and (max-width: 900px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
  }
}
	
.header img {
  margin-right: 10px;
  float: left;
  width: 80px;
  background: #555;
}

a	{
	font-weight: 700;
	}
	
a:link{
	color: red;
	font-weight: bold;
}

a:visited{
	color: purple;
	font-weight: bold;
}

a:hover{
	color: orange;
	font-weight: bold;
}

a:active {
	color: green;
	font-weight: bold;
}