h1 {
	 color: red;
	 text-align: center;
 }
 
 h3 {
	 color: green;
 }
 body {
	 background: #D6DBDF;
 }
 
.container{
	 display: flex;
	 flex-direction:row;
	 flex-wrap: no-wrap;
	 justify-content: space-around;
	 align-items: center;
	}