h1 {
	color: red;
	text-align: center;
	text-indent: justify;
 }
 
 h3 {
	text-align: center;
	text-indent: justify;
	color: green ;
 }
 
 a h3:hover {
	color: #003a15;
	}
 
 body {
	 background: #D6DBDF;
 }

.image {
	height: 200px;
	width: 200px;
	object-fit:cover;
	}
 
.container a {
	text-decoration: none;
	transition: 0.2s;
	}
	
.container a:hover {
	font-size: 103%;
	color: #003a15;
	}
 
.container{
	text-align: center;
	text-indent: justify;
	width: 95% ;
	display: grid ;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-gap: 10px;
	align-items: center;
	}
	
.box { 
  border-radius: 5px; 
  padding: 5px; 
}
	
@media all and (max-width: 800px) {
  .container {
    width: 95% ;
	display: flex ;
	flex-flow: column wrap ;
	justify-content: space-around ;
	align-items: center;
  }
}