h1 {
	color: red;
}

h2 {
	color: green;
}
.lista a {
  text-decoration: none;
  display: block;
  padding: 2em;
}
.imagem {
	position: relative;
	width: 250px;
	height:250px;
	border-width: 2px;
	border-style: solid;
    border-color: darkgray;
	opacity: 0.5;
    filter: alpha(opacity=50);
	
}
.imagem:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
.org {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
	align-items: center;
	
}
.titulo{
	font: bold 24px/45px Helvetica, Sans-Serif; 
	text-align: center;
    padding: 20px;
	font-size: 250%;
}
.texto{
	display: flex;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom: 10px;
	font-size: 115%;
}
.texto2{
	display: flex;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom: 10px;
	font: bold 15px arial, sans-serif;
}


@media only screen and (max-width: 600px)
.org {
	display:flex;
	flex-flow:column wrap;
	justify-content:space-evenly;
}
